@font-face {
   font-family: 'OriyaMN-01';
   font-display: swap;
   src: url('file:///C:/Users/oumei/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-06-14_110926/fonts/OriyaMN-01/font.ttf');
}
